.orderContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px;
  &__orders {
    padding: 0px 20px;
    width: 100%;
    &--title {
      margin-bottom: 1.6rem;
      h2 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2em;
      }
      button {
        margin-top: 0.2em;
        padding: 2px 5px;
        border: none;
        background-color: transparent;
        color: var(--background-color);
        transition: color 0.3s;
        cursor: pointer;
      }
      button:hover {
        color: var(--background-color-hover);
      }
    }
    &--products .orderContainer__orders--product:nth-child(2) {
      background-color: rgba(248, 248, 248, 0.904);
    }

    &--product {
      margin: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 20px;
      div {
        width: 100%;
      }

      div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }
  }
}
.submitButton {
  position: relative;
  padding: 15px 20px;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 2em;
  background-color: var(--background-color);
  margin-bottom: 2em;
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submitButton:hover {
  background-color: var(--background-color-hover);
}
@media only screen and (max-width: 1024px) {
  .orderContainer {
    flex-direction: column;
    padding: 0px 5px;
    &__orders {
      padding: 0px 5px;
      &--title {
        margin-bottom: 2rem;
      }
      &--products {
        margin-bottom: 2em;
      }
      &--product {
        display: flex;
        padding: 0px 5px;
        margin: 0.5em;

        img {
          width: 80px;
        }
        &-info,
        &-price {
          font-size: 0.9em;
        }

        div {
          width: 100%;
        }

        div:last-child {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
        }
      }
    }
  }
  .submitButton {
    position: relative;
    padding: 10px 15px;
    width: 100%;
  }
}
