.mainContainer {
  width: 100%;
  left: 0%;
  transform: translate(0%);
  h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 2em;
    padding: 0px 20px;
  }
}
.formBox {
  padding: 10px 20px;
  div:first-child {
    display: flex;
    div:first-child {
      padding-right: 10px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .mainContainer {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }
  .formBox {
    width: 100%;

    div:first-child {
      display: flex;
      flex-direction: column;
      div:first-child {
        padding-right: 0px;
      }
    }
  }
}
