.wishlistBox {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  p {
    width: 160px;
  }
  &__icon {
    position: relative;
    font-size: 1.2em;
    right: -1%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.336);
    border-radius: 50%;
    transition: color 0.3s;
  }
  &__icon:hover {
    color: red;
  }
  &__iconAdded {
    position: relative;
    right: -1%;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s;
    color: red;
  }
  &__iconAdded:hover {
    color: rgba(0, 0, 0, 0.336);
  }
  &__borken {
    margin-left: 0.5em;
    font-size: 1.2em;
    cursor: not-allowed;
    transition: color 0.3s;
    color: rgba(0, 0, 0, 0.336);
  }
}

.add {
  animation: add 0.4s linear forwards;
}
@keyframes add {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
