.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
}

.product {
  &__imageWrapper {
    width: 50%;
    text-align: center;
    img{
      width: 400px;
    }
  }
  &__infoWrapper {
    width: 50%;
    &--icon {
      color: var(--background-color);
      font-size: 25px;
      margin-right: 0.5em;
    }
    &--titleBox {
      padding: 20px 0px;
      h2 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 3em;
        margin-bottom: 0.2em;
        letter-spacing: 2px;
      }
      div:nth-child(2) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.2em;
        p {
          font-size: 20px;
          margin-right: 0.3em;
        }
        a {
          color: var(--background-color);
        }
      }
      div:nth-child(3) {
        p {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-family: 'BenchNine', sans-serif;
          font-size: 25px;
        }
      }
    }
    &--descriptionBox {
      h4 {
        font-family: 'BenchNine', sans-serif;
        background-color: var(--background-color);
        color: white;
        font-weight: 700;
        width: 80px;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 2em;
        padding: 5px 20px;
        font-size: 1.6em;
        letter-spacing: 1px;
      }
    }
    &--description {
      p {
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        letter-spacing: 1px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2em;
        width: 80%;

        span {
          font-weight: bold;
          margin-bottom: 0.2em;
          color: var(--background-color);
        }
      }
    }
    &--detailsBox {
      margin-top: 2em;
      div {
        display: flex;
        padding: 5px 0px;
        p {
          color: rgb(160, 124, 7);
          span {
            font-weight: bold;
            color: var(--background-color);
          }
        }
      }
      &-icon {
        margin-right: 0.5em;
        font-size: 20px;
        color: var(--background-color);
      }
    }
  }
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;

  &__QtyBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    height: 60px;
    width: 100px;
    span {
      color: var(--background-color);
    }
    button {
      background-color: transparent;
      border: none;
      padding: 2px 5px;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
  &__addBox {
    width: 50%;

    button {
      width: 100%;
      height: 60px;
      padding: 10px 20px;
      margin-left: 1em;
      background-color: var(--background-color);
      border: none;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-size: 1.2em;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: var(--background-color-hover);
    }
  }
}
.similarlyProduct__container {
  margin-top: 4em;
  h2 {
    font-family: 'Amatic SC', sans-serif;
    padding: 10px 20px;
    font-size: 2.2em;
    text-align: center;
  }
  div:nth-child(2) {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.empty {
  margin: 2em;
  h2 {
    font-size: 2em;
    font-weight: 700;
    font-family: BenchNine;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
  }
  .product {
    &__imageWrapper {
      width: 100%;
      text-align: center;
    }
    &__infoWrapper {
      width: 100%;
      &--icon {
        font-size: 20px;
      }
      &--titleBox {
        h2 {
          font-size: 2em;
        }
        div:nth-child(2) {
          p {
            font-size: 15px;
          }
        }

        div:nth-child(3) {
          p {
            font-size: 25px;
          }
        }
      }

      &--description {
        p {
          width: 100%;

          span {
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
}
