.product__wrappper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  z-index: 10;
}

@media only screen and (max-width: 1024px) {
  .product__wrappper {
    padding: 100px 0px;
  }
}
