.inputBox {
  margin-top: 1em;
  position: relative;
  min-width: 290px;
  width: 100%;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(2, 2, 2, 0.3);
  border-radius: 2px;
  outline: none;
  font-size: 1em;
  margin-bottom: 1em;
  letter-spacing: 2px;
  font-family: 'Roboto Condensed', sans-serif;
}
.inputBox input[type='number']::-webkit-inner-spin-button {
  display: none;
}
.inputBox input::placeholder {
  color: transparent;
}
.inputBox label {
  position: absolute;
  left: 0;
  padding: 14px;
  pointer-events: none;
  font-size: 1em;
  color: gray;
  transition: 0.5s;
}
.inputBox input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  color: black;
  transform: translate(15px) translateY(-10px);
  font-size: 0.8em;
  padding: 0 10px;
  letter-spacing: 1px;
  border: 1px solid var(--menu-color);
  background-color: #fff;
}

.inputBox input:focus {
  border: 1px solid var(--menu-color);
}
.error input {
  border: 1px solid red;
}
.error input ~ .label {
  color: rgb(223, 81, 81);
  transform: translate(10px) translateY(-7px);
  font-size: 0.95em;
  padding: 0 5px;
  letter-spacing: 1px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  background-color: #fff;
}
.error input::placeholder {
  color: transparent;
}
@media only screen and (max-width: 570px) {
  .inputBox input:focus ~ .label,
  .input:not(:placeholder-shown).input:not(:focus) ~ .label {
    font-size: 0.8em;
    padding: 0 5px;
  }

  .inputBox input:focus {
    border: 1px solid var(--menu-color);
  }
  .error input {
    border: 1px solid red;
  }
  .error input ~ .label {
    font-size: 0.5em;
    padding: 0 3px;
  }
}
@media only screen and (max-width: 1024px) {
  .inputBox input:focus ~ .label,
  .input:not(:placeholder-shown).input:not(:focus) ~ .label {
    font-size: 0.7em;
    padding: 0 5px;
  }

  .inputBox input:focus {
    border: 1px solid var(--menu-color);
  }
  .error input {
    border: 1px solid red;
  }
  .error input ~ .label {
    font-size: 0.7em;
    padding: 0 3px;
  }
}
