.statute {
  margin: 2em 4em;
  padding: 10px 20px;
  letter-spacing: 1px;
  h2 {
    margin: 1em 0;
    span {
      color: var(--background-color);
    }
  }
  h2:nth-of-type(1) {
    color: white;
    padding: 5px 10px;

    background-color: var(--background-color);
  }
  &__box div {
    margin: 0.5rem 0;
    max-width: 800px;
  }
}

@media screen and (max-width: 1024px) {
  .statute {
    margin: 1em;
    font-size: 0.8em;
    h2 {
      font-size: 1.2em;
    }
    div {
      font-size: 1em;
    }
  }
}
