*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-image: url('./assets/background-img.jpg');
  font-family: 'Open Sans', sans-serif, 'Pacifico', 'Amatic SC', 'BenchNine',
    cursive;

  overflow-x: hidden;
}
:root {
  --white: white;
  --main-color: rgb(252, 194, 141);
  --menu-color: rgb(231, 157, 20);
  --background-color: rgb(231, 157, 20);
}
