.productManage {
  position: relative;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  h2 {
    text-transform: uppercase;
    font-family: 'BenchNine';
    font-weight: bold;
    font-size: 2em;
  }
  &__buttonBox {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
  }
  button {
    padding: 10px 20px;
    margin: 0 1em;
    background-color: var(--background-color);
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: var(--background-color-hover);
  }
}
