.mainContainer {
  padding: 10px 20px;
  min-height: 400px;
  max-height: 500px;
  font-family: 'Roboto Condensed', sans-serif;
  &__textBox {
    h2 {
      margin-bottom: 0.5em;
      color: var(--background-color-hover);
      letter-spacing: 1px;
    }
    p {
      margin-bottom: 0.2em;
    }
    p:last-of-type {
      margin-bottom: 2em;
    }
  }
  &__inputBox,
  &__CodeInputBox,
  &__newPasswordBox {
    max-width: 400px;
    p {
      color: red;
      margin-bottom: 0.8em;
    }
    button {
      padding: 10px 30px;
      background-color: var(--background-color);
      color: antiquewhite;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-weight: bold;
    }
    button:hover {
      background-color: var(--background-color-hover);
    }
  }
  &__CodeInputBox {
    input {
      display: flex;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px 10px;
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: 10px;
      text-align: center;
    }
    button {
      margin-top: 0.5em;
    }
  }
}
@media screen and (max-width: 1024px) {
  .mainContainer {
    &__CodeInputBox {
      input {
        width: 100%;
        padding: 10px 10px;
      }
      button {
        width: 100%;
      }
    }
  }
}
