.nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--white);
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
  z-index: 1000;
 
  a {
    color: black;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 120px;
    padding: 10px 20px;
    transition: height 0.3s;
    &--logo {
      position: absolute;
      height: 150px;
      top: 50%;
      left: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%);
      transition: height 0.3s, left 1s;
    }

    &--icons {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 80%;
      height: 100%;
      right: 15px;
      font-size: 1.7em;
      transform: translate(0, -50%);
      transition: font-size 0.3s;

      &-cart,
      &-account,
      &-envelope,
      &-fb,
      &-burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: color 0.3s;
      }
      &-envelope,
      &-fb {
        font-size: 0.7em;
      }
      &-burger {
        display: none;
      }
      &-cart:hover,
      &-account:hover,
      &-envelope:hover,
      &-fb:hover,
      &-burger:hover {
        color: var(--main-color);
      }
    }
  }
  &__top {
    left: 10%;
    height: 100px;
  }
  &__icons {
    font-size: 1.4em;
  }
  &__height {
    height: 90px;
  }
  &__arrowUp {
    position: absolute;
    right: -8%;
    bottom: -400%;
    transform: translateX(-100%);
    // bottom: -380%;
    color: rgb(231, 157, 20);
    background-color: #fffffff6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.active {
  opacity: 1;
  right: 0;
  animation: showAnimation 0.4s ease-out forwards;
}
.inactive {
  opacity: 0;
  right: -250px;
  animation: hideAnimation 0.4s ease-in-out forwards;
}
@keyframes showAnimation {
  0% {
    opacity: 0;
    right: -250px;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes hideAnimation {
  0% {
    opacity: 1;
    right: 0;
  }

  100% {
    opacity: 0;
    right: -250px;
  }
}
@media only screen and (max-width: 1024px) {
  .nav {
    &__box {
      &--logo {
        left: 20%;
        height: 100px;
      }

      &--icons {
        flex-direction: row;
        top: 50%;
        &-burger {
          display: flex;
        }
        &-envelope,
        &-fb {
          display: none;
        }
      }
    }
    &__top {
      left: 20%;
    }
    &__icons {
      font-size: 1.7em;
    }
    &__height {
      height: 140px;
    }
    &__arrowUp {
      display: none;
    }
  }
}
